# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.x

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Txt files
*.txt

# Latex output files
*.aux
*.bbl
*.blg
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls
*.out
*.synctex.gz
*.gz
*.toc

# Text editor files
*.swp

# Doxygen output files
doc/doxygen
